#reply-control.edit-link-category {
  &.open {
    height: 210px;
  }
  .wmd-controls {
    display: none;
  }
}
.desktop-view #reply-control input.basic-links-url-field{
  padding: 7px 10px;
  margin: 6px 10px 3px 0;
  color: $primary;
  box-sizing: initial;
  border: initial;
  width:842px;
}
#reply-control input.basic-links-url-field {
  padding: 5px;
  margin-top: 6px;
  width: 99%;
  box-sizing: border-box;
  border: 1px solid $secondary;
}
.basic-links.topic-title a{
  margin-top: 5px;
}
.basic-links a {
  display: inline-block;
  text-transform: lowercase;
  color: dark-light-diff($primary, $secondary, 45%, -30%);
  font-size: 0.875rem;

  &::before {
    position: relative;
    top: 0.1em;
    padding-right: 5px;
    font-family: FontAwesome;
    content: "\f08e";
  }
}

.title-wrapper a.featured-link {
  display: inline-block;
}