<section class='field'>
  <div class="enable-basic-links">
    <label class="checkbox-label">
      {{input type="checkbox" checked=category.enable_basic_links}}
      {{i18n 'basic_links.allow_basic_links'}}
    </label>
  </div>
</section>